fastapi
uvicorn
gunicorn
sentence-transformers
faiss-cpu
numpy
python-dotenv
loguru
python-jose[cryptography]
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
python-multipart
redis
aioredis
pytest
huggingface_hub[hf_xet]
